@import "tailwindcss";

@theme {
  /* Paleta Oficial Estúdio Corpo & Alma */
  --color-studio-bg: #FAF9F6;
  
  /* Verde Sálvia */
  --color-studio-green: #6A806C;
  --color-studio-green-dark: #556656;
  
  /* Rosa Antigo (Lotus) */
  --color-studio-pink: #CEAEB9;
  
  /* Texto Principal */
  --color-studio-text: #2D2D2D;
}

/* Configurações Globais */
body {
  background-color: var(--color-studio-bg);
  color: var(--color-studio-text);
  font-family: ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}